*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  margin: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #dadada;
  padding: 1em;
  border-radius: 1em;
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.hide {
  display: none;
}

.boxLoading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url("./Loading_icon.gif") no-repeat center;
  z-index: 999;
}

.container {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
}

:root {
  --ItemPerCol: 2;
}

.compare-list {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 100px repeat(var(--ItemPerCol), 300px);
  gap: 0.5rem;
  padding: 1em;
  height: 50vh;
}

.card-compare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

.card-compare-description {
  display: flex;
  flex-direction: column;
}

.item {
  text-align: center;
}

.item:nth-child(even) {
  background-color: lightgray;
}

.compare-image {
  width: 300px;
  height: 300px;
}

.remove-item {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

a:link,
a:visited {
  background-color: transparent;
  border: 3px solid lightgray;
  border-radius: 5px;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1em;
}

a:hover,
a:active {
  background-color: transparent;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
}
