*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  margin: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #dadada;
  padding: 1em;
  border-radius: 1em;
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.hide {
  display: none;
}

.boxLoading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url("./Loading_icon.gif") no-repeat center;
  z-index: 999;
}

.container {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
}

.compare-list {
  display: grid;

  grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 100px 1fr;
  gap: 0.5rem;
  padding: 1em;
  height: 60vh;
}

.card-compare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

.card-compare-description {
  display: flex;
  flex-direction: column;  
}

.item {
  text-align: center;
}

.item:nth-child(even) {
  background-color: lightgray;
}

.compare-image {
  width: 300px;
  height: 300px;
}

.remove-item {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

[class^="box-"] {
  background-color: aquamarine;
}

.oneProduct {
  grid-template-columns: 100px 1fr;
}

.twoProducts {
  grid-template-columns: 100px repeat(2, 300px);
}

.threeProducts {
  grid-template-columns: 100px repeat(3, 300px);
}

.fourProducts {
  grid-template-columns: 100px repeat(4, 300px);
}

.fiveProducts {
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
}

.sixProducts {
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sevenProducts {
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.eightProducts {
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nineProducts {
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.tenProducts {
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
